ipykernel
setuptools==41.0.0
jupyter
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
scipy
scikit-learn
pandas
matplotlib
opencv-python
funcy
tqdm
tensorflow-gpu
tensorboard
torch
torchvision
torchtext
timm
scikit-image
albumentations
dask[complete]
future
vertica_python
aiohttp
efficientnet_pytorch

